# Unique name for this worklow
name: 'Code Validation against QA environment'

# Definition when the workflow should be run
on:
  push:
    # branches: [feature*, release*]
    branches:
      - 'feature*'
      - 'release-branch*'
      - 'release-master*'
    path:
      - 'force-app/**'

# Jobs to be executed
jobs:
  validate-branch-against-qa:
    runs-on: ubuntu-latest
    steps:
      # Install Salesforce CLI
      - name: 'Install Salesforce CLI'
        run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
          mkdir ~/sfdx
          tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1
          echo "$HOME/sfdx/bin" >> $GITHUB_PATH
          ~/sfdx/bin/sfdx version

      # Install SFDX-Git-Delta plugin
      - name: 'Installing SFDX GIT DELTA PLUGIN'
        run: |
          echo y | sfdx plugins:install sfdx-git-delta
          sfdx plugins

      # Installing java
      - name: 'Installing JAVA'
        run: |
          sudo apt-get update
          sudo apt install default-jdk

      # Checkout the source code
      - name: 'Checkout source code'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Store secret of the org
      - name: 'Populate auth file'
        shell: bash
        run: |
          echo ${{ secrets.ORG_QA_URL}} > ./ORG_QA_URL.txt

      # Authenticate to ORG
      - name: 'Authenticate to QA org'
        run: sfdx auth:sfdxurl:store -f ./ORG_QA_URL.txt -s -a integration

      # Generate delta package
      - name: 'Create Delta package'
        run: |
          sfdx sgd:source:delta --to "HEAD" --from "HEAD~7" --output "." --source force-app/
          echo "-- package.xml generate by plugin --"
          cat package/package.xml

      # Run validation command based on package.xml
      - name: 'Validate Delta changes'
        run: |
          sfdx force:source:deploy --checkonly -x package/package.xml --verbose --json